doctype html
html
  head
    meta(charset='utf-8')
    title sudoku
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Place favicon.ico and apple-touch-icon.png in the root directory
    // build:js scripts/modernizr.js
    script(src='scripts/vendor/modernizr.custom.61680.js')
    // endbuild
    // build:css styles/vendor.css
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
  body

    .container
      - var l = 32;
      svg.paper(viewBox='0 0 #{2+l*9} #{4+l*12}' width='100%' height='100%')
        g.reset-btn
          circle(cx=2*l cy=1.5*l r=l)
          text.btn-text(x=1.25*l y=1.7*l) RESET
        g.new-game-btn
          circle(cx=7*l cy=1.5*l r=l)
          text.btn-text(x=6.55*l y=1.7*l) NEW
        g(transform='translate(1, #{3+l*3})')
          g.board
            - for (var x = 0; x < 9; x++)
              - for (var y = 0; y < 9; y++)
                g.cell-num-g(class=['square-#{Math.floor(x/3)}-#{Math.floor(y/3)}', 'row-#{y}', 'column-#{x}'])
                  rect.cell(class=['square-#{Math.floor(x/3)}-#{Math.floor(y/3)}', 'row-#{y}', 'column-#{x}'] x=x*l y=y*l width=l height=l)
                  text.number(class=['square-#{Math.floor(x/3)}-#{Math.floor(y/3)}', 'row-#{y}', 'column-#{x}'] x=x*l+10 y=y*l+24)
          g.background
            - for (var x = 0; x < 3; x++)
              - for (var y = 0; y < 3; y++)
                rect.square(class='square-#{x}-#{y}' x=x*l*3 y=y*l*3 width=l*3 height=l*3)
          rect.num-pad-backplate.hide(x=0 y=0 width=9*l height=9*l)
          g.num-pad.hide
            rect.num-pad-background(x=0 y=0 width=l*3 height=l*3)
            - for (var x = 0; x < 3; x++)
              - for (var y = 0; y < 3; y++)
                text.number(x=x*l+10 y=y*l+24)= y*3+x+1
                rect.num-pad-cell(class='cell-num-#{y*3+x+1}' x=x*l y=y*l width=l height=l data-num=y*3+x+1)

    // build:js scripts/vendor.js
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/hammerjs/hammer.min.js')
    script(src='bower_components/jquery-hammerjs/jquery.hammer-full.min.js')
    script(src='bower_components/lodash/dist/lodash.compat.js')
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
